@use "~react-pwn/palette";

.module-browser {
    max-width: 1000px;
    margin: auto;
    padding-top: 32px;

    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
    }

    .module-view {
        .module-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: max-content;
            grid-auto-flow: dense;
            grid-gap: 32px;

        }
    }
}

.option-popup {
    max-width: 800px;
    padding: 16px;

    background-color: palette.$color-neutral-01;
    border: 2px solid palette.$color-primary-05;
    border-radius: 4px;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    row-gap: 8px;

    .subscription-lessons {
        border-radius: 4px;
        box-shadow: inset 0px 0px 0px 2px palette.$color-primary-01;

        .module-entry {
            &:first-child {
                .module-name {
                    border-radius: 4px 4px 0 0;
                }
            }

            &:last-child[data-open=false] {
                .module-name {
                    border-radius: 0px 0px 4px 4px;
                }
            }

            &:only-child[data-open=false] {
                .module-name {
                    border-radius: 4px;
                }
            }

            &:last-child[data-open=true] {
                .lesson:last-child {
                    height: 30px;
                    margin-bottom: 2px;
                }
            }

            &[data-open=true] {
                .module-name::before {
                    transform: rotate(0deg);
                }

                .lesson-list {
                    max-height: var(--max-height);
                }
            }

            .module-name {
                padding: 8px;
                background-color: palette.$color-primary-01;
                color: palette.$color-primary-09;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;

                &::before {
                    font-family: 'Material Icons';
                    content: "expand_more";
                    transform: rotate(-90deg);
                    display: inline-block;
                    transition: transform 100ms ease-in;
                    font-size: 20px;
                    margin-bottom: -2px;
                }
            }

            .lesson-list {
                transition: max-height 100ms ease-in;
                overflow: auto;
                max-height: 0;

                .lesson {
                    height: 32px;
                    padding: 4px 16px;
                    margin: 0px 2px;
                    cursor: pointer;
                    overflow: hidden;

                    &:hover {
                        background-color: palette.$color-primary-00;
                    }

                    .pages {
                        margin-left: 8px;
                        color: palette.$color-neutral-06;
                    }
                }
            }
        }
    }
}