@use "~react-pwn/palette.scss" as palette;

$totalHeight: 64px;
$minHeight: 32px;

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    &>.header-container {
        position: relative;
        height: 100%;
        max-height: $minHeight;
        transition: max-height 100ms ease-in;

        &[data-locked=true], &[data-show=true] {
            .header {
                .logo {
                    font-size: 32px;
                    padding-bottom: 16px;
                }

                .settings {
                    font-size: 32px;

                    & > i {
                        margin: 8px 0px;
                        padding: 8px;
                        background-color: #FFFFFF00;
                        color: palette.$color-neutral-00;

                        &:hover {
                            background-color: #FFFFFF30
                        }
                    }
                }
            }
        }

        &[data-locked=true] {
            max-height: $totalHeight;
        }

        &[data-show=true]:not([data-locked=true]) {
            &>.header {
                bottom: -($totalHeight - $minHeight);
            }
        }

        &>.header {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1000;

            min-height: 64px;
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: start;
            background-color: palette.$color-primary-05;
            color: palette.$color-neutral-00;
            padding: 0px 16px;

            transition: bottom 100ms ease-in;

            .logo {
                flex-grow: 1;
                cursor: pointer;
                font-size: 24px;
                align-self: flex-end;
                padding-bottom: 4px;

                transition: font-size 100ms ease-in, padding-bottom 100ms ease-in;
            }

            .settings {
                display: flex;
                flex-direction: row;
                align-self: flex-end;
                font-size: 0px;

                transition: font-size 100ms ease-in;

                & > i {
                    margin: 12px 20px;
                    padding: 4px;

                    transition: margin 100ms ease-in, padding 100ms ease-in, background-color 100ms ease-in, color 100ms ease-in;

                    color: #FFFFFF80;
                    background-color: currentColor;
                }

                .divider {
                    border-left: 2px solid #FFFFFF30;
                    margin: 8px 8px;
                }

                .event-catcher {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 10;
                }

                .settings-holder {
                    width: 0px;
                    height: 0px;
                    align-self: end;
                    position: relative;
                    font-size: 16px;
                    font-variant-caps: normal;

                    .settings-panel {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        z-index: 11;

                        min-width: 400px;
                        max-height: 600px;
                        overflow-y: auto;

                        color: palette.$color-neutral-09;
                        background: palette.$color-neutral-01;
                        border: 2px solid palette.$color-neutral-09;
                        border-radius: 4px;

                        padding: 8px;

                        display: flex;
                        flex-direction: column;

                        .settings-title {
                            font-size: 24px;
                            align-self: center;
                        }

                        .sub-settings {
                            .name {
                                font-weight: bold;
                            }

                            .settings-item {
                                display: grid;
                                grid-template:
                                    "title title    close" max-content
                                    ".     twiddler close" 1fr /
                                    16px   1fr      max-content;

                                background: palette.$color-neutral-03;
                                padding: 8px;
                                margin: 8px 0px;
                                border-radius: 4px;

                                .settings-desc {
                                    grid-area: title;
                                }

                                .settings-clear {
                                    grid-area: close;
                                    padding: 4px;
                                    color: palette.$color-error-02;
                                    transition: color 100ms ease-in, background-color 100ms ease-in;

                                    &:hover {
                                        color: palette.$color-neutral-00;
                                        background: palette.$color-error-02;
                                    }
                                }

                                .settings-twiddler {
                                    grid-area: twiddler;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &>.content {
        flex-grow: 1;
        position: relative;

        .content-inner {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}