@use "~react-pwn/palette.scss" as palette;

@keyframes divider-stop {
    0% {
        border-color: currentColor;
    }
    50% {
        border-color: palette.$color-neutral-04;
    }
    100% {
        border-color: currentColor
    }
}

.divider-container {
    width: 100%;
    height: 100%;

    display: flex;
    position: relative;

    &.horizontal {
        flex-direction: row;

        .divider {
            height: 100%;
            cursor: ew-resize;
            flex-direction: row;

            &.collapsed {
                &::before {
                    border-right-width: var(--full-bar-width);
                }
            }

            &::before, &::after {
                width: 8px;
            }

            &::before {
                border-right: 4px solid currentColor;
            }
        }
    }

    &.vertical {
        flex-direction: column;

        .divider {
            width: 100%;
            cursor: ns-resize;
            flex-direction: column;

            &.collapsed {
                &::before {
                    border-bottom-width: var(--full-bar-width);
                }
            }
            &::before, &::after {
                height: 8px;
            }

            &::before {
                border-bottom: 4px solid currentColor;
            }
        }
    }

    .divider {
        position: absolute;
        z-index: 10;
        display: flex;
        color: palette.$color-neutral-05;

        &::before, &::after {
            content: "";
            transition: border-color 100ms ease-in;
        }

        &.limit::before {
            animation: divider-stop 1000ms infinite;
        }
    }

    .child {
        overflow: auto;

        &.hidden {
            &>* {
                display: none;
            }
        }
    }
}
