.divider-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    position: relative;
    column-gap: 3px;

    .divider {
        height: 100%;
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: row;
        cursor: ew-resize;

        &::before, &::after {
            content: "";
            width: 8px;
            pointer-events: all;
        } 

        &::before {
            border-right: 3px solid #ccc;
        }
    }
}
