@use "~react-pwn/palette.scss" as palette;

$border-radius: 4px;

.page {
    display: flex;
    flex-direction: column;
    height: 100%;

    .markdown {
        flex-grow: 1;
        padding: 16px;
        max-width: 1000px;
        margin: auto;
        padding-bottom: 32px;
        overflow: auto;

        & > div, & > p {
            margin: 16px 0px;
        }

        blockquote {
            margin: 16px 0px;
            padding: 8px 8px 8px 16px;
            border-left: 4px solid palette.$color-neutral-05;
            background-color: palette.$color-neutral-01;

            p {
                margin: 0px;
            }
        }

        table {
            border-spacing: 0px;
            margin: 16px 0px;

            thead {
                background-color: palette.$color-primary-01;
            }

            th, td {
                padding: 8px;
                &:not(:last-child) {
                    border-right: 1px solid palette.$color-neutral-09;
                }
            }

            th:empty {
                padding: 0px;
            }

            tbody tr:nth-child(2n+1) {
                background-color: palette.$color-neutral-02;
            }
        }

        img {
            max-width: 100%;
            border-radius: 4px;
        }
    }

    .quiz-navigation, .navigation {
        display: flex;
        flex-direction: row;
        min-height: 48px;
        justify-content: space-between;
        align-items: center;

        .nav-button {
            cursor: pointer;
            margin: 8px;
            padding: 8px;
            border-radius: $border-radius;
            transition: background-color 100ms ease-in-out;
            min-width: 128px;

            &:last-child {
                text-align: right;
            }

            &.disabled {
                color: palette.$color-neutral-05;

                &:hover {
                    background-color: unset;
                    cursor: not-allowed;
                }
            }
        }
    }

    .quiz-navigation {
        background: palette.$color-primary-05;
        color: palette.$color-neutral-00;

        .nav-button {
            background-color: palette.$color-primary-05;

            &:hover {
                background-color: palette.$color-primary-03;
            }
        }

        .score {
            display: flex;
            flex-direction: row;
            column-gap: 8px;

            .percentage {
                color: palette.$color-primary-02;
            }
        }
    }

    .navigation {
        background: palette.$color-neutral-09;
        color: palette.$color-neutral-00;

        .navigation-previous, .navigation-next {
            min-width: 128px;

            &.navigation-next {
                text-align: right;
            }
        }

        .nav-button {
            background-color: #FFFFFF00;

            &:hover {
                background-color: #FFFFFF30;
            }
        }

        .navigation-current {
            display: flex;
            flex-direction: row;

            &>div:not(:last-child)::after {
               content: "⟩";
               font-weight: bold;
               margin: 0px 8px;
            }

            .pageno {
                font-feature-settings: "tnum";
            }
        }
    }

    .code {
        flex-direction: row;

        &.inline {
            display: inline-flex;

            code {
                background: palette.$color-primary-00;
                color: palette.$color-primary-09;
                font-weight: 500;
                padding: 2px 4px;
            }
        }

        &.executable {
            code {
                border-radius: $border-radius 0px 0px $border-radius;
            }
        }

        &:not(.executable) {
            code {
                border-radius: $border-radius;
            }
        }

        &:not(.inline) {
            display: flex;

            code {
                flex-grow: 1;
            }

            .execute-button {
                padding: 16px;
                font-size: 24px;
            }
        }

        &.clicked {
            .execute-button {
                background-color: #1d991d;
            }
        }

        .execute-button {
            font-size: 12px;
            padding: 4px;
            color: white;
            background-color: #888888;
            transition: background-color 100ms ease-in-out;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 0px $border-radius $border-radius 0px;
        }

        &.executable.inline, .execute-button {
            cursor: pointer;
        }
    }
}