@use "~react-pwn/palette.scss" as palette;

.quiz {
    border: 2px solid var(--color-neutral-05);
    padding: 17px;
    border-radius: 4px;
    background-color: var(--color-neutral-01);

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            margin: unset;
            margin-bottom: 24px;
        }

        .quiz-status {
            &::before {
                margin-right: 8px;
                margin-bottom: -2px;

                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;

                border: 2px solid currentColor;
                border-radius: 50%;
                font-size: 20px;

                color: palette.$color-neutral-05;
                content: "?";

                transition: color 100ms ease-in;
            }

            &[data-correct=incorrect]::before {
                color: palette.$color-error;
                font-family: 'Material Icons';
                content: "close"
            }

            &[data-correct=correct]::before {
                color: palette.$color-success;
                font-family: 'Material Icons';
                content: "check"
            }
        }
    }

    .extra-error-message {
        color: palette.$color-error;
        margin-top: 8px;
    }
}

.code {
    &.numbered {
        code {
            padding-left: 48px;
        }
    }

    code {
        position: relative;

        .line-numbers {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            padding-top: 16px;
            counter-reset: line-no;
            display: flex;
            flex-direction: column;
            padding-left: 16px;
            align-items: flex-end;

            .line-number {
                color: palette.$color-neutral-05;

                &::before {
                    counter-increment: line-no;
                    content: counter(line-no);
                }
            }
        }
    }
}