@use "~react-pwn/palette.scss" as palette;

.quiz {
    box-shadow: 0px 0px 0px 2px palette.$color-neutral-05;
    padding: 17px;
    border-radius: 4px;
    background-color: palette.$color-neutral-01;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    p {
        display: contents;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 8px;
        margin: unset;
        font-size: 18px;

        .quiz-status {
            &::before {
                margin-bottom: -2px;

                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;

                border: 2px solid currentColor;
                border-radius: 50%;
                font-size: 20px;

                color: palette.$color-neutral-05;
                content: "?";

                transition: color 100ms ease-in;
            }

            &[data-correct=incorrect]::before {
                color: palette.$color-error;
                font-family: 'Material Icons';
                content: "close"
            }

            &[data-correct=correct]::before {
                color: palette.$color-success;
                font-family: 'Material Icons';
                content: "check"
            }
        }

        .quiz-title {
            flex-grow: 1;
        }

        .check-button {
            &::before {
                content: "CHECK";
                padding: 6px;
                border-radius: 4px;
                font-size: 12px;
                cursor: pointer;
                background: #00000000;
                transition: background 100ms ease-in;
                color: palette.$color-neutral-07;
            }

            &:hover {
                &::before {
                    background: palette.$color-neutral-03;
                }
            }
        }
    }

    .extra-error-message {
        color: palette.$color-error;
        margin-top: 8px;
    }
}

.quiz-hint {
    display: block;
    min-width: 400px;
    position: relative;
    padding: 8px;
    border-radius: 4px;
    background: palette.$color-neutral-00;
    box-shadow: 0px 0px 0px 2px palette.$color-neutral-04;

    & > p {
        display: block;
        margin: unset;
    }

    &::after {
        content: "Click to Show";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        color: palette.$color-primary-05;
        font-weight: bold;
        background-color: palette.$color-neutral-04;
        opacity: 1;
        transition: opacity 100ms ease-in, background-color 100ms ease-in;
        border-radius: 4px;
        cursor: pointer;
    }

    &:hover {
        &::after {
            background-color: palette.$color-neutral-03;
        }
    }

    &.shown {
        &::after {
            opacity: 0;
        }
    }

    &.as-answer {
        &::after {
            content: "Click to Show Solution";
        }
    }
}

.code {
    &.numbered {
        code {
            padding-left: 48px;
        }
    }

    code {
        position: relative;

        .line-numbers {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            padding-top: 16px;
            counter-reset: line-no;
            display: flex;
            flex-direction: column;
            padding-left: 16px;
            align-items: flex-end;

            .line-number {
                color: palette.$color-neutral-05;

                &::before {
                    counter-increment: line-no;
                    content: counter(line-no);
                }
            }
        }
    }
}

.notes-input {
    border-radius: 4px;
    background-color: #00000000;
    transition: background-color 100ms ease-in;

    &:hover {
        background: palette.$color-neutral-01;
    }

    &:focus-within {
        background: palette.$color-neutral-01;

        input {
            border-bottom-color: palette.$color-primary-03;
        }

        textarea {
            border-color: palette.$color-primary-03;
        }
    }

    &.inline {
        display: inline-block;
        width: 150px;

        &.big {
            width: 450px;
        }
    }

    &:not(.inline) {
        display: block;
        width: 450px;
        height: 80px;
    }

    input, textarea {
        border: unset;
        font-family: 'Lato';
        font-size: 1em;
        background: #00000000;
        outline: none;
        padding: 2px;
        width: 100%;
    }

    input {
        border-bottom: 2px solid palette.$color-neutral-08;
        transition: border-color 100ms ease-in;
    }

    textarea {
        height: 100%;
        border-radius: 4px;
        resize: none;
        border: 2px solid palette.$color-neutral-08;
        transition: border-color 100ms ease-in;
    }
}
