@use "~react-pwn/palette.scss" as palette;

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &>.header {
        min-height: 64px;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: start;
        font-variant-caps: small-caps;
        background-color: palette.$color-primary-05;
        color: palette.$color-neutral-00;
        padding: 0px 16px;

        .logo {
            flex-grow: 1;
        }
    }

    &>.content {
        flex-grow: 1;
        position: relative;

        .content-inner {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}