@use "~react-pwn/palette";

@keyframes loading-cycle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.loading-message {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    .loading-icon {
        font-size: 48px;
        color: palette.$color-primary-05;
        font-family: 'Material Icons';
        animation: loading-cycle 3s linear infinite 1s;
    }
}